body {
    background-color: deeppink;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
}

/* can use relative path for images if they are also in the 'assets'k folder */
/* background-image: url(bg.png); */

